export EDITOR=vim

# Path to your oh-my-zsh installation.
export ZSH="/Users/mohanad/.oh-my-zsh"

# User Defined Variables:
export GOPATH=$HOME/go
export GOROOT=/usr/local/opt/go/libexec
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GOROOT/bin
export PATH=$PATH:/usr/local/opt/rabbitmq/sbin
export PATH="/usr/local/sbin:$PATH"'

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".exports.local" ] && source ".exports.local"